.header-dialog-window {
  margin: 0px 25px 0px;
}

.decrease-dialog {
  min-width: 65%;
  margin: 20px 25px 10px;
}

.info-message {
  margin: 30px 25px 10px;
}

.buttons {
  margin: 30px 30px 0px;
  text-align: right;
}
