<div class="decrease-position-dialog-window">
  <div class="header-dialog-window">
    <h1 mat-dialog-title>Окно по реализации позиции</h1>
  </div>

  <div class="info-message">
    <p>В наличии x бутылок по этой позиции</p>
  </div>

  <form [formGroup]="formCreate">

    <mat-form-field class="decrease-dialog">
      <input
        matInput
        formControlName="decreaseValue"
        placeholder="Количество реализованных бут., шт."
        autocomplete="off"
      />
      <mat-error *ngIf="formCreate.invalid">
        {{ formCreate.get('decreaseValue').errors?.numericValidatorWarning }}
      </mat-error>
    </mat-form-field>

  </form>

  <div class="buttons">
    <button mat-raised-button [mat-dialog-close]="false">Закрыть</button>
    <button mat-raised-button [disabled]="formCreate.invalid" [mat-dialog-close]="true">Принять</button>
  </div>
</div>

