<div class="add-position-dialog-window">
  <div class="header-dialog-window">
  <h1 mat-dialog-title>Создание новой позиции</h1>
  </div>

  <form [formGroup]="formCreate">
    <mat-form-field class="input-create-type">
      <input
        matInput
        formControlName="type"
        placeholder="Тип"
        autocomplete="off"
      />
      <mat-error *ngIf="formCreate.invalid">
        Заполните поле!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-create-name">
      <input
        matInput
        formControlName="name"
        placeholder="Наименование"
        autocomplete="off"
      />
      <mat-error *ngIf="formCreate.invalid">
        Заполните поле!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-create">
      <input
        matInput
        formControlName="volume"
        placeholder="Объем бутылки, л."
        autocomplete="off"
      />
      <mat-error *ngIf="formCreate.invalid">
        {{ formCreate.get('volume').errors?.numericValidatorWarning }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-create">
      <input
        matInput
        formControlName="price"
        placeholder="Цена, руб."
        autocomplete="off"
      />
      <mat-error *ngIf="formCreate.invalid">
        {{ formCreate.get('price').errors?.numericValidatorWarning }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-create">
      <input
        matInput
        formControlName="balance"
        placeholder="Количество бутылок"
        autocomplete="off"
      />
      <mat-error *ngIf="formCreate.invalid">
        {{ formCreate.get('balance').errors?.numericValidatorWarning }}
      </mat-error>
    </mat-form-field>
  </form>

  <div class="buttons">
  <button mat-raised-button [mat-dialog-close]="false">Закрыть</button>
  <button mat-raised-button [disabled]="formCreate.invalid" [mat-dialog-close]="formCreate.value">Добавить</button>
  </div>
</div>
